// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
// font-family: 'Shadows Into Light', cursive;
//background: url('img/bg.png') repeat scroll center center #138D81;
//box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.1) inset
body{
	background: #F1F1F1;
}
.content-login{
	padding-left: 5%;
	padding-right: 5%;
	height: 500px;
}
.container{
	background: #fff;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}
.menu{
	top: 0;
	bottom: 0;
	// background:#ff7706;
	background: url('bg.png') repeat-y scroll #138D81;
	position: fixed;
	padding:30px;
	width: 19%;
	height:100%;
	.my-logo{
		text-align: center;
		hr{
			border: 2px dotted #333333;
		}
		h3{
			color:#333333;
			font-size: 1.4em;
		}
		img{
			color:#fff;
			
		}
	}
}
.menu-body{
	margin-left: 19%;
}
.top-bar{
	padding-left: 10%;
	padding-right: 10%;
	ul{
		li{
			input{
				width: 205px;
				height: 30px;
			    border: 1px solid #262626;
			    color: #A5A5A5;
			    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.35);
			    border-radius: 3px;
			    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7) inset, 0px 1px 0px rgba(0, 0, 0, 0.5), 0px 2px 0px rgba(0, 0, 0, 0.2);
				&:focus{
					background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.35);
					box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7) inset, 0px 1px 0px rgba(0, 0, 0, 0.5), 0px 2px 0px rgba(0, 0, 0, 0.2);
					border: 0px #000;
				}
			}
			h1{
				a{
					// font-family: 'Shadows Into Light', cursive;
					font-family: 'Roboto Condensed', sans-serif;
					font-size:1.3em;
					b{
						color:#F5595E;
						font-family: 'Montserrat', sans-serif;
					}
				}
			}
			a{
				font-family: 'Roboto Condensed', sans-serif;
			}
		}
	}
}
.sub-menu{
	height:60px;
	background: url('bg.png') repeat scroll #138D81;
	box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.1) inset;
	padding-left:50px;
	// display: flex;
	.sub-title{
		padding-left:1.4%;
		justify-centent:center;
		align-content:center;
		align-items:-center;
		padding-top: 10px;
		h3{
			margin-top: 0px;
			margin-left: 16px;
			color:#fff;
			font-weight: bold;
			font-family: 'Yanone Kaffeesatz', sans-serif;
		}
	}
}
.content-body{
	width: 95%;
	margin-left: 5%;
	margin-top:20px;
	padding-left: 20px;
}
.content-footer{
	margin-left: 5%;
	margin-right: 5%;
	margin-top:20px;
	padding-left: 20px;
}
.menu-2-left{
	min-width: 40%;
	display: inline-block;
	margin-top:10px;
	margin-left: 9px;
	margin-bottom: 10px;
	li{
		list-style-type: none;
		display: inline;
		a{
			padding: 0px 15px;
			font-size:0.8em;
			font-family: 'Roboto Condensed', sans-serif;
		}
	}
}
.menu-2-right{
	float: right;
	min-width: 40%;
	padding-right:7px;
	margin-top:10px;
	margin-bottom: 10px;
	text-align: right;
	li{
		list-style-type: none;
		display: inline;
		input{
			width: 200px;
		}
		a{
			font-family: 'Roboto Condensed', sans-serif;
			padding: 0px 15px;
			font-size:0.8em;
		}
	}
}
.box{
	background: #fff;
	width: 238px;
	min-height: 330px;
	display: inline-block;
	margin-right:17px;
	margin-bottom:17px;
	border-width: 1px 1px 2px;
	box-shadow: 1px 1px 1px #cecece;
	border-style: solid;
	border-color: #CECECE;
	.pro-image{
		img{
			width: 100%;
			height: 150px;
			margin-right: 1px;
			padding:1px;
		}
	}
	.pro-name{
		text-align: center;
		margin-top:7px;
		text-transform: capitalize;
		font-size:15px;
		color:#16b8a9;
		padding:5px 10px;
	}
	.pro-desc{
		margin-top: 0px;
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 1.4;
		font-size:0.9em;
		overflow: hidden;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		opacity: 1;
		transition-duration: 0.3s;
		box-shadow: 0px 0px 0px #CECECE;
	}
}

.login-form{
	// justify-content:center;
	// align-content:center;
	// align-items:center;
	// height: 70px;
	// width: 100%;
	.my-input{
		margin-bottom: 0;
		// input{
		// 	margin-bottom: 0px;
			
		// }
	}
}
ul.pagination li.current a {
	background: #0BA59A;
	&:hover{
		background: #0BA59A;	
	}
}
.alert-box.alert {
	background: #d91831;
}	
.flash-alert{
	.alert-box.success{
		background: #24c65f;
	}
	.alert-box{
		color:#fff;
		a{
			.close {
				color:#000;
			}
		}
	}
}
input[type="email"],input[type="password"]{
	&:focus{
		border:1px solid #0BA59A;
		box-shadow: 1px 1px 1px #0BA59A;
	}
}
.footer-fix{
	top:100%;
	height: 280px;
	width: 100%;
	background:repeat scroll #303030;
}
small{
	margin-right:8px;
}
.sub-footer-title{
}
.menu-footer{
	margin-left: 18%;
}