<div class="content-footer">
<div class="large-12 small-12 medium-12 columns" style="padding:0px;">
	<div class="large-4 small-4 medium-4 columns"style="margin-top:30px;">
		<h3 style="color:#fff;font-size:1.2em;font-family: 'Yanone Kaffeesatz', sans-serif;">Bright of Rails</h3>
		<p style="color:#868686;font-size:0.9em;">After learning about Internet what more natural than to share in turn? Passionate about the web for a little over 5 years now I love to share my skills and discoveries with people who have that same passion for the web</p>
		<div class="my-img">
			<small><%= link_to image_tag "facebook.png"%></small>
			<small><%= link_to image_tag "twitter.png" %></small>
			<small><%= link_to image_tag "googleplus.png" %></small>
			<small><%= link_to image_tag "linkedin.png" %></small>
		</div>
	</div>
	<div class="large-4 small-4 medium-4 columns"style="margin-top:30px; ">
		<h3 style="color:#fff;font-size:1.2em;font-family: 'Yanone Kaffeesatz', sans-serif;">Support by</h3>
		<div class="link"><small style="font-size:30px;color:#888888;width:10px;height:0px;">"</small><a href="https://www.heroku.com/">www.heroku.com</a></div>
		<div class="link"><small style="font-size:30px;color:#888888;">"</small><a href="https://github.com/">www.github.com</a></div>

	</div>
	<div class="large-4 small-4 medium-4 columns"style="margin-top:30px; ">
		<h3 style="color:#fff;font-size:1.2em;font-family: 'Yanone Kaffeesatz', sans-serif;">Contact me</h3>
		<div class="link"><small style="font-size:30px;color:#888888;width:10px;height:0px;"></small><a href="https://plus.google.com/111498258972015470661/posts">https://plus.google.com</a></div>
		<div class="link"><small style="font-size:30px;color:#888888;width:10px;height:0px;"></small><a href="https://www.facebook.com/sino.chef7">https://www.facebook.com</a></div>
		<div class="link"><small style="font-size:30px;color:#888888;width:10px;height:0px;"></small><a href="https://twitter.com/seyhaheng7">https://www.twitter.com</a></div>
	</div>
	</div>
	<p style="bottom:0px; text-align: center;color:#888888;margin-bottom:0px;font-size:0.8em;">Copyright © 2014, Developer & Design by <small style="font-size:1em;border-bottom:1px dashed;">Sino</small></p>
</div>
